VITE_API_BASE_URL=/api

VITE_REFRESH_TOKEN_PATH=/auth/refresh-token/secretPathisalwayssecret

VITE_GOOGLE_CLIENT_ID=df34234alksjdfajkd;lfkjaljkdfkjalkjdf

VITE_CLOUDINARY_URL=https://api.cloudinary.com/v1_1
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=your_upload_preset
